.div-not-locations-body {
  .svg-big {
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .svg-small {
    svg {
      width: 100%;
    }
  }

  .description {
    pointer-events: none;
    position: fixed;
    font-size: 14px;
    text-align: center;
    background: #eaebef;
    padding: 10px;
    z-index: 5;
    height: 30px;
    line-height: 10px;
    margin: 0 auto;
    color: #00155f;
    border-radius: 5px;
    box-shadow: 0 0 0 0px #eaebef;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    border: 1px solid #00155f;
  }
  .description.active {
    display: block;
  }
  .description:after {
    content: "";
    position: fixed;
    left: -1px;
    top: 10.1px;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #eaebef;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
  }

  .description:before {
    content: "";
    position: fixed;
    left: -1px;
    top: 11px;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #00155f;
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
  }

  .button-sign-up {
    right: 6px;
    top: 6px;
    padding: 5px 20px;
  }

  @media only screen and (min-width: 769px) and (max-width: 800px) {
    .div-input {
      font-size: 16px;
    }
  }
}

/* Tablet devices (tablets, 768px and down) */

@media only screen and (max-width: 768px) {
  .div-not-locations-body {
    padding: 0px 20px;
  }
}
