// =============================
// Map specific stuff
// =============================
.LocationMapList-list-item {
    padding-top: 15px;
    padding-bottom: 10px;
}

.location-title {
    font-family: "Source Serif Pro";
    font-size: 28px;
}

.distance {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans";
}

.tab-title {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
}

.locationName {
    font-size: 20px;
    font-family: "Source Serif Pro";
    line-height: 24px;
}

.address {
    font-size: 16px;
    font-family: "Open Sans";
}

.list-view-container {
    //margin-top: 15px;
}

.starting-from {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
}

.list-price {
    font-size: 36px;
    font-family: "Open Sans";
    font-weight: bold;
}

.icon-close {
    width: 51px;
    height: 31px;
}

.location-in {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: "Source Serif Pro";
}

.result-count {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Open Sans";
}

.location-image {
    width: 144px;
    height: 118px;
}

.LocationMapList-map {
    @media (max-width: 1024px) {
        height: calc(100vh - 280px);
        display: none;

        .LocationMapList-list-item {
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .distance {
            padding-top: 10px;
            padding-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
            font-family: "Open Sans";
        }

        .locationName {
            font-size: 20px;
            font-family: "Source Serif Pro";
            line-height: 24px;
        }

        .address {
            font-size: 16px;
            font-family: "Open Sans";
        }
    }

    @media (min-width: 1200px) {
        height: 584px;

        & > div {
            max-height: 584px;
        }
    }

    .marker-label {
        margin-top: -9px;
        font-weight: bold;
    }
}

// =============================
// Google maps generated markup
// =============================
.gm-style {
    .gm-style-iw-c {
        border-radius: 0;
        max-width: 259px !important;
        border: 1px solid #5f7bc6;
        padding: 0px !important;
        max-height: none !important;

        @media (min-width: 768px) {
            max-width: 550px !important;
        }

        .gm-style-iw-d {
            max-height: none !important;
        }

        .gm-style-iw-tc {
            &:before {
                background: #5f7bc6;
                clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
                content: "";
                height: 12px;
                left: 0;
                position: absolute;
                top: 0px;
                width: 25px;
            }
        }
    }
}
// =============================
// List specific stuff
// =============================
.LocationMapList-list {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }

    &-item {
        svg {
            fill: #fdc429;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.activeTab {
    display: block;
}

// =============================
// Tabs specific stuff
// =============================

.div-filters-selected {
    padding: 1rem 0rem;
    min-height: 57px;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;

    span {
        border: 2px solid #657ac1;
        margin-left: 5px;
        margin-bottom: 5px;
        color: #5f7bc6;
        padding: 0px 4px;
        cursor: pointer;
    }
}

.div-tab-filter {
    position: relative;
    z-index: 999;
}

.button-wrap {
    height: 100%;
}

.icon-close {
    width: 50px;
    height: 25px;
}

.LocationMapList-map-tabs {
    &-map {
        border-right: 2px solid #eaebef;
    }

    svg {
        border-left: 2px solid #eaebef;
    }
}

@media only screen and (max-width: 768px) {
    .div-filters-selected {
        flex-direction: initial;
        -webkit-flex-direction: initial;
    }
}

@media only screen and (max-width: 425px) {
    .div-filters-selected {
        span {
            font-size: 10px;
        }
    }
}

// =============================
// Dialog on map
// =============================

.LocationMapList-list-item--info-window {
    a {
        max-height: 40px;
    }

    .image-item--info-window {
        width: 165px;
        height: 120px;
    }

    .star-rating-wrap {
        margin-top: 15px;
        margin-bottom: 5px;

        @media (max-width: 768px) {
            margin-top: 10px !important;
        }
    }

    .bg-primary1 yellow-button {
        @media (max-width: 768px) {
            padding-right: 10px !important;
            padding-left: 10px !important;
        }
    }

    .text-address-item {
        line-height: 23px;
    }

    .div-text-price {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .LocationMapList-list-item--info-window {
        .image-item--info-window {
            width: 239px;
            height: 175px;
        }

        .text-address-item {
            line-height: 16px;
        }

        .div-text-price {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}
