@import "../../helpers.scss";

.Input-root {
  position: relative;

  .Input-input {
    border: 1px solid $blue-light;
    width: 100%;
    height: 45px;
    padding: 9px 13px;
    color: $greyMedium;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    opacity: 0.75;
    &:focus{
      outline: none;
    }
  }
  
  .Input-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
