@import "../../helpers.scss";

.rich-text {
  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 40px;
    font-family: "Source Serif Pro";
    letter-spacing: 0.3px;
  }

  blockquote {
    color: $orange;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $white;
    border: none;
    padding: 0 36px;
    margin: 40px 20px 40px 20px;

    p {
      font-size: 28px;
      line-height: 30px;
      font-family: "Source Serif Pro";
      margin: 0 !important;
    }

    &:after,
    &:before {
      content: "”";
      font-size: 60px;
      line-height: 1.1em;
      font-family: "Proza Libre", sans-serif;
    }

    &:before {
      margin-right: 6px;
      content: "“";
    }

    &:after {
      margin-left: 6px;
    }
  }

  img {
    margin: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  a {
    color: $orange;
    text-decoration: underline;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    font-family: "Open Sans";
    margin: 20px 0 0 0 !important;
  }

  @media #{$xs} {
    &-title {
      font-size: 28px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      margin: 20px 0 20px 0 !important;
      line-height: 20px !important;
    }

    img {
      height: 152px;
      width: 100%;
    }

    blockquote {
      margin: 20px 0 20px 0;
      padding: 0 1em;

      &:after,
      &:before {
        font-size: 50px;
      }

      p {
        font-size: 20px;
        margin: 0 !important;
      }
    }
  }
}
