.div-body-unit-card {
  max-width: 1200px;
  .div-filter-units {
    position: relative;
  }

  .div-filter-units-open-modal {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    background-color: #f7f8fe;
    z-index: 999;
    position: relative;

    svg {
      border-left: 2px solid #eaebef;
    }

    .div-filter-text-result {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      margin-left: 3rem;
    }

    /**
  
  .div-modal-filters {
    position: absolute;
    width: 428px;
    background: rgb(247, 248, 254);
    height: auto;
    z-index: 999;
    margin-top: 0px;
  }
  **/

    @media only screen and (min-width: 820px) {
      .div-body-unit-card {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
    /**
  
  @media only screen and (max-width: 425px) {
    .div-modal-filters {
      width: 100% !important;
    }
  }
  **/
  }
}

/**

@media only screen and (max-width: 425px) {
  .div-modal-filters {
    width: 100% !important;
  }
}

**/
