.blog-preview {
  &--image {
    img {
      //width: 360px !important;
      object-fit: cover;

      // margin-right: 15px;

      @media screen and (max-width: 768px) {
        width: 100% !important;
        object-fit: cover;
        padding-right: 0px !important;
      }
    }
  }

  .LinesEllipsis {
    font-size: 16px;
    line-height: 22px !important;
  }
}
