.state-location-information-wrapper {
  h1,
  h2,
  h3,
  h3,
  h5,
  h6 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-family: "source-serif-pro", "serif";
  }

  ul {
    padding: 0;
    display: block;
    display: grid;
    column-gap: 30px;
    row-gap: 1px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    li {
      list-style-type: none;
      grid-column: span 12 / span 12;
      @media (min-width: 768px) {
        grid-column: span 6 / span 6;
      }
      p{
        padding: 0
      }
    }
  }

  p {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .state-location-information-wrapper {
    ul {
      display: block !important;
    }
  }
}
