@import "../../helpers.scss";

.LoginForm-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 775px;
  margin: 50px auto 35px auto;
}

.LoginForm-button-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .LoginForm-button-disabled {
    width: 245px;
    height: 60px;
    background-color: #eaebef;
    font-family: 'Open sans';
    font-size: 20px;
    color: #afafaf;
  }


  .LoginForm-button {
    width: 245px;
    height: 60px;
    background-color: $yellow;
    font-family: 'Open sans';
    font-size: 20px;
    color: $blue2;
  }
}

.LoginForm-link-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;

  .LoginForm-link {
    color: '#D96539';
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 700;
  }
}

/* Tablet devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .LoginForm-root {
    padding: 0px 19px;
  }
}