/***********DIV MY ACCOUNT***********/

.div-my-account {
  .react-multi-carousel-dot-list {
    top: -3px !important;
    height: 22px;

  }


  .react-multi-carousel-dot {
    button {
      border: 0.5px solid #5F7BC6;

    }

  }

  .react-multi-carousel-dot--active button {
    background: #5f7bc6 !important;
    border: 0.5px solid #5F7BC6;

  }

  .react-multi-carousel-track {
    margin-top: 10px !important;
  }

  .not-units {
    min-height: 280px;
    height: 100%;
  }
}

/***********DIV MY ACCOUNT***********/

/***********div-my-account-unit-details***********/

.div-my-account-unit-details {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;

  .div-wrapper-my-account-details {
    max-width: 900px;
    width: 100%;
  }

  .div-body-unit-payment {
    max-width: 900px;
    width: 100%;
  }

  .div-body-unit-details {
    max-width: 900px;
    width: 100%;

    .div-my-account-unit-details-img {
      display: flex;
      justify-content: center;
    }
  }
}

/***********div-my-account-unit-details***********/



/***********div-my-manage-unit***********/

.div-my-manage-unit {
  .select-filter-sort-by-payment {
    height: 45px;
    background-color: white;
    border: 1px solid #607dc4;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 97.5%;
    background-position-y: 14px;
    border-radius: 2px;
    padding-left: 0.8rem;
  }

  .select-filter-sort-by-sort {
    height: 45px;
    background-color: white;
    border: 1px solid #607dc4;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 97.5%;
    background-position-y: 14px;
    border-radius: 2px;
    padding-left: 0.8rem;
    max-width: 775px;
  }



  .select-filter-sort-by-payment:focus {
    outline: none;
  }
}

/***********div-my-manage-unit***********/

@media only screen and (max-width: 768px) {
  .div-my-account-unit-details {
    .div-wrapper-my-account-details {
      width: 100% !important;
    }
  }

}