@import "../../helpers.scss";

.ForgotPasswordForm-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 775px;
  margin: 50px auto 35px auto;
}

.ForgotPasswordForm-message {
  font-family: 'Open Sans';
  font-size: 20px;
}

.ForgotPasswordForm-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ForgotPasswordForm-button-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .ForgotPasswordForm-button {
    width: 245px;
    height: 60px;
    background-color: $yellow;
    font-family: 'Open sans';
    font-size: 20px;
    color: $blue2;
  }
}

.SuccessForgotPasswordModal-root {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .SuccessForgotPasswordModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .SuccessForgotPasswordModal-icon {
    cursor: pointer;
  }
}
