.unit-my-account {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 17px;

  .div-section-blocks {
    padding: 2.5rem;
  }

  .unit-location-name {
    max-width: 200px;
    text-align: left;
    word-break: break-all;
  }

  .divider {
    display: inline-block;
    width: 0;
    height: 91%;
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
  }

  .div-information {
    span {
      margin-top: 6px;
      margin-right: 4px;
    }
  }

  .div-button-auto-pay {
    display: flex;
    justify-content: center;

    button {
      font-size: 20px;
      width: 15rem;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
  .unit-my-account {
    margin-left: 3%;
    margin-right: 3%;

    .div-section-blocks {
      padding: 1rem;
    }
  }
}

/* Tablet devices (tablets, 768px and down) */

@media only screen and (max-width: 768px) {
  .unit-my-account {
    margin-left: 5%;
    margin-right: 5%;
  }

  .divider {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .unit-my-account {
    .div-section-blocks {
      padding: 2rem;
    }
  }

  .div-information {
    span {
      margin-top: 2px;
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .unit-my-account {
    .div-section-blocks {
      padding: 1rem;
    }
  }
}
