@import "../../helpers.scss";

.PasswordResetCodeForm-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 775px;
  margin: 50px auto 35px auto;
}

.PasswordResetCodeForm-message {
  font-family: 'Open Sans';
  font-size: 20px;
}

.PasswordResetCodeForm-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.PasswordResetCodeForm-button-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .PasswordResetCodeForm-button {
    width: 245px;
    height: 60px;
    background-color: $yellow;
    font-family: 'Open sans';
    font-size: 20px;
    color: $blue2;
  }
}