@import "../../helpers.scss";

:root {
  --circle-size: clamp(1.5rem, 5vw, 2rem);
  --spacing: clamp(0rem, 2vw, 0rem);
}

.div-fixed-price, .div-section-amount-prices {
  .button-disabled {
    background-color: #eaebef;
    color: #afafaf;
  }
}

.div-make-payment-body {
  .div-reservations-unit {
    background-color: red;
  }

  /**************************************************STEPPER************************/

  .c-stepper {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .c-stepper__item-first {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #5f7bc6;
      opacity: 1;
      margin: 0 auto 1rem;
    }

    & {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 4px;
        background-color: #5f7bc6;
        order: -1;
      }
    }
  }

  .c-stepper__item-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #5f7bc6;
      opacity: 1;
      margin: 0 auto 1rem;
    }

    & {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 4px;
        background-color: #5f7bc6;
        order: -1;
      }
    }
  }

  .c-stepper__item-last {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #5f7bc6;
      opacity: 1;
      margin: 0 auto 1rem;
    }
  }

  .c-stepper__title {
    color: #05155b;
    font-size: 16px;
    inline-size: 150px;
    overflow-wrap: break-word;
    margin: auto;
  }

  /*** Non-demo CSS ***/

  .wrapper {
    max-width: 1000px;
    margin: 2rem auto 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 1rem;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media only screen and (max-width: 660px) {
    .c-stepper__title {
      font-size: 12px;
      inline-size: auto;
    }
  }

  //Forms

  .div-body-reservation-details-information {
    width: 100%;
    max-width: 950px;
  }

  .div-make-payment-form {
    background-color: #f7f8fe;
    display: flex;
    justify-content: center;

    .div-body-payment-form {
      width: 100%;
      max-width: 775px;
    }
  }

  .div-make-payment-information {
    display: flex;
    justify-content: center;

    .div-payment-details {
      width: 100%;
      max-width: 775px;
    }
  }

  .div-customer-information-required {
    margin-bottom: -1rem;
  }

  .span-div-input {
    left: -15px;
  }

  .select-filter-sort-by-payment {
    height: 45px;
    background-color: white;
    border: 1px solid #607dc4;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 97.5%;
    background-position-y: 14px;
    border-radius: 2px;
    padding-left: 0.8rem;
  }

  .select-filter-sort-by-payment:focus {
    outline: none;
  }

  .div-input {
    margin-top: 1rem;
    width: 100%;
    border: 1px solid #607dc4;
    height: 45px;
    font-weight: bold;
    opacity: 0.75;
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 0.4rem;
    background: white;
    color: #707070;
    input {
      background: white;
    }
    textarea:focus,
    input:focus {
      outline: none !important;
    }
  }

  .div-input.disabled {
    background: #f7f8fe;
    color: #707070;
    input {
      background: #f7f8fe;
    }
  }

  //Icons

  .bs-eye {
    right: 8px;
    top: 14px;
  }

  @media only screen and (max-width: 768px) {
    .div-body-reservation-details-information {
      padding-left: 3;
      padding-right: 3;
    }

    .div-make-payment-form {
      background-color: #f7f8fe;
      padding-left: 20px;
      padding-right: 20px;
    }

    .div-make-payment-information {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  //Forms

  //Customer information
  .div-icon-cards {
    svg:not(:first-child) {
      margin-left: 1rem;
    }
  }

  .radio {
    width: 20px;
    height: 20px;
  }

  .div-input-payment-detail,
  .div-input-payment-detail-cw {
    margin-top: 1rem;
    border: 1px solid #607dc4;
    height: 45px;
    font-weight: bold;
    opacity: 0.75;
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 0.4rem;
    background: white;

    input {
      background: white;
    }
    input:focus {
      outline: none !important;
    }
  }

  .div-body-input-card-number {
    max-width: 407px;
    width: 100%;
  }

  .div-body-input-card-cw {
    max-width: 118px;
    width: 100%;
  }

  .div-input-payment-detail:first-child {
    margin-right: 1rem;
  }

  @media only screen and (max-width: 480px) {
    .div-input-payment-detail:first-child {
      margin-right: 0.5rem;
    }
  }

  //Customer information

  /**************************************************RENTAL DETAILS************************/
}

//Amount prices

.section-amount-prices {
  background-color: #5f7bc6;
  display: flex;
  justify-content: center;

  .div-section-amount-prices {
    max-width: 950px;
    width: 100%;
    padding: 2% 0%;

    .divider-amount-prices {
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }

    svg {
      transform: rotate(180deg);
    }
  }

  .div-total-due-today {
    justify-content: end;
  }

  .div-button-pay-now {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    a,
    button {
      width: 357px;
    }
  }

  .slash-price {
    opacity: 0.5;
    display: inline-block;
    position: relative;
  }

  .slash-price::before {
    content: "";
    position: absolute;
    left: -0.1em;
    right: -0.1em;
    top: 0.38em;
    bottom: 0.38em;
    background: linear-gradient(
      to left top,
      transparent 45.5%,
      currentColor 47.5%,
      currentColor 52.5%,
      transparent 54.5%
    );
    pointer-events: none;
  }
}

@media only screen and (max-width: 768px) {
  .section-amount-prices {
    .div-button-pay-now {
      padding: 2% 20px;
      margin-top: 1rem;
    }

    .div-total-due-today {
      justify-content: start;
    }
  }
}

//Amount prices

//Fixed price
.div-fixed-price {
  background-color: #5f7bc6;
  position: fixed;
  bottom: 0;
  left: 0;

  a,
  button {
    width: 320px;
  }
}

@media only screen and (max-width: 768px) {
  .div-fixed-price {
    display: flex;
    justify-content: center;

    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 420px) {
  .div-fixed-price {
    a,
    button {
      width: 300px;
    }
  }
}

//Fixed price
