.unit-my-account-icons {
  .div-icons-svg {
    display: flex;
    align-items: inherit;
    align-content: initial;
    justify-content: space-between;
    flex-wrap: wrap;
    > .div-svg {
      div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .div-icons-svg {
    display: flex;
    align-items: inherit;
    align-content: initial;
    justify-content: space-between;
    flex-wrap: wrap;
    > .div-svg {
      flex: 0 1 50%;

      div {
        display: flex;
        justify-content: center;
      }
    }
  }
}
