@import "../../helpers.scss";

.near-me {
  a {
    color: $secondary5;
  }



  &-map {
    height: 400px;

    a {
      color: $greyHeavy !important;
      text-decoration: none;
    }
  }

  &-body {
    div:not(:last-child) > p {
      margin-bottom: 1.2rem;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
  }

  ul {
    margin-left: 20px;

    // li:not(:last-child) {
    //   margin-bottom: 6px;
    // }
  }

  .points {
    div:not(:first-child) > p > b {
      margin-top: 1.5rem;
      display: block;
    }
  }

  @media #{$osm} {
    a {
      color: $orange;
      font-weight: 600;
    }

    h3 {
      padding-top: 40px;
      // margin-bottom: 40px;
    }

    .serving {
      column-count: 2;
      column-gap: 3rem;
    }

    .h-small {
      h3 {
        text-align: left;
        padding-top: 0px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 1.2rem;
      }
    }

    .points {
      p > b {
        margin-bottom: 0.6rem;
      }

      div:not(:first-child) > p > b {
        margin-top: 2rem;
        display: block;
      }
    }

    ul {
      column-count: 2;
      column-gap: 30px;
    }
  }
}
