$font-open-sans: "Open Sans";
$font-source-serif-pro: "Source Serif Pro";

.blog-hero-section {
  position: relative;

  .react-multi-carousel-dot-list {
    bottom: 3% !important;
    height: 22px;
  }

  .react-multi-carousel-dot {
    margin-right: 10px;
    button {
      border: 0.5px solid #ffffff;
    }
  }

  .react-multi-carousel-dot--active button {
    background: #ffffff !important;
    border: 0.5px solid #ffffff;
  }

  .div-image-carousel {
    height: 656px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .div-image-carousel-text {
    width: 82%;
    margin: auto;
    position: absolute;
    left: 51%;
    top: 83%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  /*******************************FORM*****************************/

  .div-searcher-tags {
    form {
      max-width: 786px;
      width: 786px;
      border: 3px solid #6d8c88;
      padding: 4px 0px;

      .btn-tertiary1 {
        min-width: 140px;
        height: 62px;
        font-size: 20px;
        background-color: #658d88;
        font-family: "Open Sans";
        font-weight: 500;
      }
    }
  }

  /*******************************FORM*****************************/

  /*******************************TAG CATEGORIES*****************************/

  .tags-categories {
    flex-wrap: nowrap;
    overflow-x: auto;

    span {
      white-space: nowrap;
    }
  }

  /*******************************TAG CATEGORIES*****************************/
}

@media only screen and (max-width: 768px) {
  .blog-hero-section {
    .div-image-carousel-text {
      width: 100%;
      top: 77%;
      padding-left: 20px;
      padding-right: 20px;
    }
    /*******************************FORM*****************************/

    form {
      .btn-tertiary1 {
        min-width: 127px;
        height: 62px;
        font-size: 16px;
      }

      .form-search__input {
        padding-left: 8px !important;
      }
    }

    /*******************************FORM*****************************/
  }
}

@media only screen and (max-width: 480px) {
  .blog-hero-section {
    .div-image-carousel {
      height: 268px;
    }
    .div-image-carousel-text {
      top: 64%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
