@import "../../helpers.scss";

.size-guide {
  // text-align: center;
  width: 100%;
  padding: 20px;

  .title-size-guide {
    font-size: 24px;
  }

  .sg-description {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .div-size-guide-btn {
    height: 60px;
    padding: 15px 1.3rem;
  }

  &-btn {
    border: 1px solid #04145b;
    color: #04145b;
    text-decoration: none;
    padding: 15px 1.3rem;
  }

  @media #{$oxs} {
    padding: 60px 0px;
    .title-size-guide {
      font-size: 32px;
    }

    .sg-description {
      margin-top: 40px;
      margin-bottom: 60px;
    }
  }
}
