@import "../../helpers.scss";

.FindReservationForm-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 775px;
  margin: 50px auto 35px auto;
}

.FindReservationForm-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.FindReservationForm-button-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .FindReservationForm-button {
    width: 245px;
    height: 60px;
    background-color: $yellow;
    font-family: 'Open sans';
    font-size: 20px;
    color: $blue2;
  }
}

.FindReservationForm-reservations {
  margin-top: 32px;
  margin-bottom: 132px;

  .FindReservationForm-title {
    margin-bottom: 50px;
  }

  .FindReservationForm-reservation-list {
    display: flex;
    flex-direction: column;
    gap: 32px
  }
}

.UnitReservationCard-root {
  padding: 10px 0px 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .UnitReservationCard-unit {
    display: flex;
    gap: 60px;

    .UnitReservationCard-information {
      display: flex;
      flex-direction: column;

      .UnitReservationCard-location {
        font-family: 'Source Serif Pro';
        font-weight: 400;
        font-size: 28px;
        color: $blue;
        margin-bottom: 10px;
      }

      .UnitReservationCard-dimensions {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 32px;
        color: $secondary5;
      }

      .UnitReservationCard-unit-type {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 24px;
        color: $secondary5;
      }
    }
  }
}

.UnitReservationCard-button {
  width: 300px;
  height: 40px;
  padding: 8px 5px;
  background-color: $yellow;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: $blue2;

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.UnitReservationCard-date-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  color: $blue;

  .UnitReservationCard-date {
    color: $secondary5;
    font-weight: 400;
  }
}


/* Tablet devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .FindReservationForm-reservations {
    margin-top: 32px;
    margin-bottom: 132px;

    .FindReservationForm-title {
      margin-bottom: 32px;
    }

    .FindReservationForm-reservation-list {
      display: flex;
      flex-direction: column;
      gap: 32px
    }
  }

  .FindReservationForm-inputs-container {
    margin: 20px;
  }
}