.div-location-list {
  padding: 0px 80px 0px 80px;
}

.title-location-list {
  color: #454545;
  margin-bottom: 13px;
}

.location-list-item {
  border-bottom: 5px solid #5f7bc6;
}

span.relative {
  top: 5px;
  right: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .location-list-item {
    border-bottom: 3px solid #5f7bc6;
  }
  .div-location-list {
    padding: 0px 20px 0px 20px;
  }
}

/*# sourceMappingURL=index.css.map */
