/**********************************FILTER INFORMATION MODAL*******************************/
@import "../../helpers.scss";

.background-modal {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 99;
}

.background-modal-absolute {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 99;
}

.filter-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.filter-icon-close {
  margin-left: 0.25rem;
  margin-right: 1.25rem;
}

.div-button-search-filter {
  min-width: 138px;
  height: 62px;

  a {
    height: 100%;
    font-size: 20px;
    line-height: 37px;
  }
}

// Modal styles

.div-modal-filters {
  position: absolute;
  width: 428px;
  background: rgba(247, 248, 254, 1);
  margin: auto auto auto auto;
  height: auto;
  z-index: 999;
  right: 0;
  margin-top: 4px;
  padding: 25px 25px 30px 25px;

  .p-select-all {
    margin-right: 25px;
  }

  .title-filter-by {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .select-filter-sort-by {
    height: 45px;
    width: 311px;
    background-color: white;
    border: 1px solid #607dc4;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 95.5%;
    background-position-y: 14px;
    border-radius: 2px;
    padding-left: 0.8rem;
  }

  .select-filter-sort-by:focus {
    outline: none;
  }

  //Styles to the clear/select all

  .div-select-clear {
    margin-top: 40px;
    margin-bottom: 25px;
    p {
      font-size: 12px;
      width: 100px;
      border: 2px solid #657ac1;
      padding: 0px 4px;
      text-align: center;
      color: #5f7bc6;
    }
  }

  .title-filter-by {
    margin-bottom: 20px;
  }

  //Styles to div of checkboxes

  .div-unit-size-label {
    margin-bottom: 70px;
    input {
      accent-color: #5f7bc6;
      outline: 1px solid #5f7bc6;
      outline-offset: -1px;
      border-radius: 0px;
      width: 20px;
      height: 20px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
    }

    input[type="checkbox"]:checked {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover !important;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAG1BMVEUAAAD////////////////////////////////rTT7CAAAACHRSTlMAAQJcXZednrPY6coAAAABYktHRAiG3pV6AAAAVElEQVQY02NgoAQIGyLYTBktCI5aRwuSREcSnCPa0a4AYzNGdBTBTVHraANLeAApuA4PIA2TADGU4EYBlaTBJEBSHQg7gFJwCZCFRUhudFFgoA4AAOL4FwuAVnsLAAAAAElFTkSuQmCC")
        #5f7bc6;
    }
  }

  // Styles to button

  .button-div-modal {
    margin-top: 70px;
    margin-bottom: 1rem;
    a {
      font-size: 20px;
      padding: 20px 44px !important;
    }
  }
}

/* Extra small devices (phones, 457px and down) */

@media only screen and (max-width: 767px) {
  .div-modal-filters {
    .div-button-search-filter {
      margin-left: 0.25rem;
    }
  }
}

@media only screen and (max-width: 482px) {
  .div-modal-filters {
    .input-search-filter::placeholder {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 440px) {
  .div-modal-filters {
    .select-filter-sort-by {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .div-modal-filters {
    width: 100% !important;
    .div-button-search-filter {
      min-width: 99px;
    }
    .div-button-search-filter a {
      font-size: 14px;
    }

    .input-search-filter::placeholder {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 370px) {
  .pin-icon {
    width: 14px;
    height: 22px;
    margin-left: 4px;
  }

  .div-modal-filters {
    .select-filter-sort-by {
      width: 75%;
    }

    .input-search-filter {
      padding-left: 1.5rem;
    }

    .input-search-filter::placeholder {
      font-size: 11px;
    }

    .div-button-search-filter {
      min-width: 84px;
    }
    .div-button-search-filter a {
      font-size: 13px;
    }

    .input-search-filter::placeholder {
      font-size: 12px;
    }
  }
}

/**********************************FILTER INFORMATION MODAL*******************************/

/**********************************RESERVATION MODAL*******************************/

.section-modal-reservation-body {
  min-height: 450px;

  display: flex;
  justify-content: center;

  .div-modal-reservation-body {
    width: 900px;
    max-width: 900px;
  }

  .div-amenities {
    gap: 25px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .div-option {
    justify-content: center;
  }

  .div-modal-reservation-input {
    padding: 0rem 4rem;
  }

  .div-input {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #607dc4;
    height: 45px;
    font-weight: bold;
    opacity: 0.75;
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 0.4rem;

    textarea:focus,
    input:focus {
      outline: none !important;
    }
  }

  .div-modal-reservation-checkbox {
    padding: 0rem 4rem;
  }

  .div-modal-reservation-checkbox {
    h4 {
      svg {
        display: inline;
        margin-left: 1rem;
      }
    }
  }

  .div-checkbox {
    input {
      margin-right: 15px;
    }
    input[type="radio"] {
      min-width: 25px;
      min-height: 25px;
      accent-color: #5f7bc6;
      appearance: none;
      border: 1px solid #5f7bc6;
      border-radius: 50%;
    }

    input[type="radio"]:checked {
      border: 6px solid #5f7bc6;
    }
  }

  .div-modal-reservation-button {
    text-align: center;

    button {
      cursor: pointer;
      padding: 1rem 7rem;
      font-size: 20px;
    }

    .button-disabled {
      background-color: #eaebef;
      color: #afafaf;
    }
  }

  .div-modal-reservation-button-close {
    text-align: center;
    margin-bottom: 30px;
    button {
      border: 2px solid #5f7bc6;
      padding: 0.3rem 2.2rem;
      color: #5f7bc6;
    }
  }
  .message-error-reservation {
    font-size: 20px;
    font-weight: bold;
    color: $red;
    margin-top: 2rem;
    width: 100%;
  }

  .message-successfully-reservation {
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-top: 2rem;
    width: 100%;
  }

  @media only screen and (max-width: 820px) {
    .div-modal-reservation-body {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .div-amenities {
      gap: 15px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .div-modal-reservation-input {
      padding: 0rem;
    }

    .div-modal-reservation-checkbox {
      padding: 0rem;
    }
  }

  @media only screen and (max-width: 452px) {
    .div-modal-reservation-button button {
      padding: 1rem 0rem;
      width: 100%;
    }
  }
}

/**********************************RESERVATION MODAL*******************************/

/*********************************TERM MODAL**************************************/
.message-modal {
  z-index: 9999 !important;
}

/*********************************TERM MODAL**************************************/

/**********************************AUTOPAY MODAL*******************************/

.button-sucesssful-modal {
  width: 400px;
}

@media only screen and (max-width: 480px) {
  .button-sucesssful-modal {
    width: 100%;
  }
}

/**********************************AUTOPAY MODAL*******************************/

/**********************************PAYMENT SUCCESSFUL MODAL*******************************/
.div-body-modal-payment-successful {
  margin-top: 6rem;
  margin-bottom: 7rem;
}

@media only screen and (max-width: 480px) {
  .div-body-modal-payment-successful {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}

/**********************************PAYMENT SUCCESSFUL MODAL*******************************/
