.div-alert-payment-due {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  .text-payment-due {
    max-width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .div-alert-payment-due {
    padding-left: 25px;
    padding-right: 25px;
  }
}
