.div-location-information {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  z-index: 999;
  position: relative;
  .title-body-text {
    margin-bottom: 15px;
  }

  .location-star-rating {
    margin-bottom: 15px;
  }

  .number-new-customer,
  .number-current-customer {
    line-height: 22px;
  }
}

.img-location-information {
  width: 100%;
}

.text-direction {
  cursor: pointer;
  margin-bottom: 35px;
}

.span-text-day {
  display: block;
  width: 2.9rem;
}

.div-img-banner {
  .div-badge-img {
    cursor: pointer;
    height: 45px;
    width: 235px;
    justify-content: end;
  }
  img {
    height: 100%;
  }
}

.div-body-text {
  background-color: #657ac1;
  padding: 15px 50px 20px 50px;
  .div-text-customer {
    margin-left: 24%;
  }
}

.div-text-days {
  margin-bottom: 30px;

  .div-days {
    p {
      line-height: 22px;
    }
    display: flex;
    flex-flow: wrap column;
    height: 98px;
  }
}

.title-current-customer {
  margin-top: 0.75rem;
}

/*
@media only screen and (min-width: 769px) and (max-width: 977px) {
  .div-text-address {
    h4 {
      font-size: 15px;
    }
  }

  .div-body-text .div-text-customer {
    font-size: 13px;
    margin-left: 21%;
  }

  .div-text-days .div-days {
    font-size: 14px;
  }
}

*/

.div-view-detail {
  display: none;
  svg {
    margin-top: -13px !important;
    margin: auto;
  }

  p {
    margin-top: -5px;
  }
}

/* Extra small devices (phones, 1023px and down) */
@media only screen and (max-width: 1023px) {
  .div-location-information {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .div-body-text {
    padding: 23px 20px 1.5rem 20px;
    height: auto;

    .title-body-text {
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  .div-location-information {
    .location-star-rating {
      margin-bottom: 20px;
    }

    .div-hours-information
    {
      gap: 35px;
    }
  }

  

  /************************/

  .div-img-banner {
    .div-badge-img {
      height: 37px;
      width: auto;
    }
  }

  .div-text-get-directions {
    display: flex;
    gap: 3rem;
  }

  .div-text-get-directions.margin-custom {
    margin-bottom: 45px !important;
  }

  .div-text-customer {
    margin-left: 0px !important;
    margin-bottom: 45px !important;
    display: flex;
    justify-content: space-between;
  }

  .number-new-customer,
  .number-current-customer {
    a {
      color: #fdc429 !important;
      text-decoration: none !important;
    }
  }

  .text-office-hours {
    margin-bottom: 15px;
  }

  .div-text-days {
    .div-days {
      display: auto;
      height: auto; /* Limit height to whatever you need */
    }
  }

  .div-text-days {
    margin-bottom: 35px;
  }

  .title-current-customer {
    margin-top: 0px;
  }

  /*.div-lunch-hours,
  .div-gate-access {
    margin-top: 2rem;
  }*/

  .div-view-detail {
    display: block;
  }

  /************************/
}

@media only screen and (max-width: 347px) {
  .div-text-get-directions {
    font-size: 13px;
  }
}
