@import "../../helpers.scss";

.slant {
  clip-path: polygon(0 105px, 100% 0, 100% 100%, 0 100%);
  height: 420px;
  padding: 130px 0 45px 0;
}
.footer-root {
  display: grid;
  grid-template-columns: 5fr 2fr;

  .footer-copyright-container {
    color: white;
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 16px;
  }
}

.navigation-footer-root {
  display: grid;
  grid-template-columns: auto auto auto;
  //gap: 160px;

  @media (max-width: 768px) {
    gap: 20px;
  }


  ul {
    padding-left: 0px;
    padding-right: 15px;
    li {
      list-style-type: none;
      margin-bottom: 20px;
    }
  }

  .navitation-footer-link {
    color: white;
    letter-spacing: 0px;
    font-family: "Open Sans";
    font-size: 16px;
    text-decoration: none;
    line-height: 16px;
  }
}

.socialnetwork-footer-root {
  display: flex;
  gap: 15px;
  li {
    list-style-type: none;
  }

  .socialnetwork-footer-image {
    width: 44px;
    height: 44px;
  }

  .socialnetwork-footer-link {
    color: white;
    letter-spacing: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 35px;
  }
}

/* Tablet devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .slant {
    clip-path: polygon(0 40px, 100% 0, 100% 100%, 0 100%);
    height: 100%;
    padding: 70px 20px 45px 20px;
  }
  .footer-root {
    display: flex;
    flex-direction: column;
  }

  .navigation-footer-root {
    grid-template-columns: auto auto;
    margin-bottom: 55px;
  }

  .socialnetwork-footer-root {
    .socialnetwork-footer-image {
      width: 47px;
      height: 47px;
    }
  }
}
