@import "../../helpers.scss";

.ChangePasswordForm-root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 775px;
  margin: 50px auto 35px auto;
  
  .ChangePasswordForm-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .ChangePasswordForm-button-container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .ChangePasswordForm-button {
      width: 350px;
      height: 40px;
      background-color: $yellow;
      font-family: 'Open sans';
      font-size: 16px;
      color: $blue2;
    }
  }
}