$font-open-sans: "Open Sans";
$font-source-serif-pro: "Source Serif Pro";

.div-hero-page {
  height: 700px;
  position: relative;
  background-color: white;
}

.div-hero-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.div-title-hero-page {
  // width: 762px;
  width: 90%;
  max-width: 762px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  h1 {
    font-size: 48px;
    font-family: $font-source-serif-pro;
    margin-bottom: 20px;
    line-height: normal;
  }
}

// @media only screen and (max-width: 1024px) {
//     .div-title-hero-page {
//         //width: 762px !important;
//         // width: 900px !important;
//     }
// }

/* Tablet devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    form {
      padding: 5px;
    }
  }

  .div-title-hero-page {
    height: 74px !important;
    width: 100%;
    //left: 51.5% !important;
    // padding-left: 20px;
    // padding-right: 20px;

    h1 {
      font-size: 36px;
      font-family: $font-source-serif-pro; //"Source Serif Pro";
      margin-bottom: 20px;
      line-height: 42px;
    }

    .form-search__input {
      line-height: 30px;
      font-size: 28px;
    }

    .form-search .form-customizer {
      height: 74px !important;
    }
  }

  .div-hero-page {
    height: 390px;
  }

  .div-hero-page img {
    max-width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

@media only screen and (max-width: 375px) {
  .container {
    form {
      padding: 5px;
    }
  }

  .div-title-hero-page {
    // width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 36px;
      font-family: $font-source-serif-pro;
      margin-bottom: 20px;
      line-height: 42px;
    }

    .form-search__input {
      line-height: 30px;
      font-size: 28px;
    }

    .btn-primary {
      font-size: 28px;
      line-height: 30px;
      font-family: $font-source-serif-pro;
    }
  }
}

//Styles to filter
.div-search-filter {
  margin: 2rem auto auto auto;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.div-search-filter-error {
  border: 3px solid #eb3c12;
}

.div-search-filter-error {
  border: 3px solid #eb3c12;
}

.div-input-search-filter {
  flex: 80;
  position: relative;
}

.input-search-filter {
  width: 100%;
  height: 62px;
  min-width: 150px;
  padding-left: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-color: transparent;
}

.input-search-filter:focus {
  outline: none;
}

.input-search-filter::placeholder {
  color: #afafaf;
  font-size: 20px;
  font-weight: bold;
}

/*.message-error {
    font-size: 10px;
    font-weight: bold;
    color: #eb3c12;
    position: absolute;
    margin-top: 5px;
}*/

.pin-icon {
  width: 18px;
  height: 26px;
  margin-top: -6px;
  margin-left: 7px;
  position: absolute;
  z-index: 9999;
}

#Elem_Icon_LocationMarker {
  cursor: pointer;
  z-index: 9999;
}

.filter-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.filter-icon-close {
  margin-left: 0.25rem;
  margin-right: 1.25rem;
}

.div-button-search-filter {
  min-width: 138px;
  height: 62px;

  a {
    height: 100%;
    font-size: 20px;
    line-height: 37px;
  }
}

// Styles to div state filter

::-webkit-scrollbar {
  display: none;
}

// .div-state-filter-list {
//     position: absolute;
//     width: 100.5%;
//     margin-left: -4px;
//     height: auto;
//     max-height: 250px;
//     overflow: scroll;
//     -ms-overflow-style: none; /* IE 11 */
//     scrollbar-width: none;

//     ul {
//         list-style: none;
//         padding-left: 0px;

//         :not(:first-child) {
//             margin-top: 4px;
//         }

//         li:hover {
//             color: #5f7bc6;
//             font-weight: bold;
//             cursor: pointer;
//         }
//     }
// }

/* Extra small devices (phones, 457px and down) */

@media only screen and (max-width: 767px) {
  .div-button-search-filter {
    margin-left: 0.25rem;
  }
}

@media only screen and (max-width: 545px) {
  .input-search-filter::placeholder {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  .div-button-search-filter {
    min-width: 99px;
  }
  .div-button-search-filter a {
    font-size: 14px;
  }

  .input-search-filter::placeholder {
    font-size: 12px;
  }
}

@media only screen and (max-width: 370px) {
  .pin-icon {
    width: 14px;
    height: 22px;
    margin-left: 4px;
  }

  .input-search-filter {
    padding-left: 1.5rem;
  }

  .input-search-filter::placeholder {
    font-size: 11px;
  }

  .div-button-search-filter {
    min-width: 84px;
  }
  .div-button-search-filter a {
    font-size: 13px;
  }

  .input-search-filter::placeholder {
    font-size: 12px;
  }
}
