$font-open-sans: "Open Sans";
$font-source-serif-pro: "Source Serif Pro";

.blog-hero-image-section {
  position: relative;

  .div-image-hero {
    img {
      width: 100%;
      height: 580px;
      object-fit: cover;
    }
  }

  .section-hero-text {
    bottom: 0;
    //padding-bottom: 4%;
    //background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45281862745098034) 0%,
      rgba(0, 0, 0, 0) 65%
    );
  }

  .div-image-hero-text {
    width: 82%;
    margin: auto;

    z-index: 1;
  }

  @media only screen and (max-width: 480px) {
    .div-image-hero {
      img {
        height: 240px;
      }
    }
  }
}
