// ===================================
// ===================================
// Headings
// ===================================
// ===================================

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

// ===================================
// ===================================
// Table
// ===================================
// ===================================
.row {
  margin: 10px;
}
table {
  width: 100%;
  max-width: 600px;
  margin: 0 0 25px;

  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0;
  border: 1px solid #afafaf;
  tr.table-head {
    @media screen and (max-width: 30em) {
      display: none;
    }
  }
  .title {
    font-weight: 600;
  }
  th {
    background-color: #eaebef;
    border: 1px solid #707070;
  }
  tr {
    @media screen and (max-width: 30em) {
      display: block;
    }
  }
  tr:nth-child(odd) {
    background: #f7f8fe;
    @media screen and (max-width: 30em) {
      background: #eaebef;
    }
  }
  tr td {
    width: 50%;
    padding: 9px 10px;
    vertical-align: top;
    border: 1px solid #707070;
    @media screen and (max-width: 30em) {
      //THIS SWITCHES THE TABLE CELL TO A ROW ITEM ESSENTIALLY
      display: block;
      width: 100%;
    }
  }
  tr td:nth-child(2) {
    @media screen and (max-width: 30em) {
      width: 90%;
      margin-left: 10%;
    }
  }
}

// ===================================
// ===================================
// Lists
// ===================================
// ===================================
ul {
  list-style-type: disc;
  padding-left: 20px;
}
ol {
  list-style-type: decimal;
  padding-left: 20px;
}

// ===================================
// ===================================
// MSC
// ===================================
// ===================================
hr {
  margin: 20px 0;
}

button {
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

blockquote {
  border-left: 3px solid #658d88;
  padding-left: 49px;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: 0;
  p {
    padding-top: 0 !important;
    font-weight: 600;
    line-height: 40px;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 40px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

a {
  color: #d96539;
  //text-decoration: underline;
}

.wide-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.small-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.my-profile-tabs,
.contact-details-tabs-page {
  margin: 0px 80px;
}

.contact-details-tabs-page {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

@media only screen and (max-width: 768px) {
  .my-profile-tabs,
  .contact-details-tabs-page {
    margin: 0px 20px;
  }
}

/******Global Headers*********/

.yellow-button:hover {
  background-color: #f8da84 !important;
  color: #00155f;
}

.blue-button:hover {
  color: white !important;
  background-color: #657ac1;
}
.blue-button-dark:hover {
  color: white !important;
  background-color: #04145b;
}

.green-border-button:hover {
  color: white !important;
  background-color: #658d88;
}

.green-button:hover {
  color: white !important;
  background-color: #88b7b1 !important;
}

.link:hover {
  text-decoration: underline !important;
}

.full-opacity:hover {
  opacity: 1 !important;
}

.markdown-information-wrapper,.rich-text,.faq {
  a:hover {
    text-decoration: underline;
  }
}
