@import "./helpers.scss";

.form-customizer {
  //   width: 900px !important;
  margin: 0 auto !important;
}

.form-search__input {
  font-family: "Open Sans";
  font-size: 16px !important;
  font-weight: bold !important;
}

.overlay-fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 20px;
}

//form-search global
.form-search {
  // margin: auto;
  max-width: 100%;
  height: 74px;
  // margin: 2rem auto auto auto;
  color: $greyHeavy;
  //margin-top: 20px !important;

  form {
    display: flex;
    align-items: center;
    background-color: #fffffff2;
    border: 2px solid transparent;
    position: relative;
    font-weight: bold;
    font-family: "Open Sans";
    // height: 74px;
    //    width: 900px;
    //   margin: 0 auto;
  }

  .has-error {
    border: 2px solid $red;
  }

  .form-group {
    width: 100%;
    position: relative;

    .icon-svg {
      position: absolute;
      top: 1.2rem;
      left: 6px;

      svg {
        height: 26px;
      }
    }
  }

  .btn-primary {
    min-width: 140px;
    height: 62px;
    background-color: $yellow;
    font-family: "Open Sans";
  }

  &__input {
    min-height: 62px;
    width: 100%;
    padding: 12px;
    padding-left: 34px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    font-family: "Open Sans";

    &:focus-visible {
      outline: 0px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-states-list {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow: scroll;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none;
    left: -6px;
    text-align: left;
    @include box-shadow(0px 3px 6px rgba(0, 0, 0, 0.05));

    ul {
      list-style: none;
      padding-left: 0px;

      :not(:first-child) {
        margin-top: 4px;
      }

      li:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .li-suggestion-results-selected {
    font-weight: bold;
  }
  @media #{$xs} {
    &__input {
      &::placeholder {
        font-size: 16px;
      }
    }

    .form-customizer {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }
}

.header {
  background-color: $white;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .form-search-dropdown .overlay {
    &__wrapper {
      @extend .overlay-fixed;

      &.form-search {
        background-color: rgba(255, 255, 255, 0.95);
        height: max-content;
        margin: 0rem;
        padding: 10px 20px 6px 20px;
        @include box-shadow(2px 6px 10px rgba(0, 0, 0, 0.1));
        @include transform(translate(0%, -100%));

        &.ease-in {
          @include transform(translate(0%, 0%));
          @include transition(0.3s all ease);
          margin-top: 4rem;
        }

        &.ease-out {
          @include transform(translate(0%, 0%));
          @include transition(0.3s all ease);
        }

        form {
          border: 1px solid $blue-dark;
        }

        .btn-primary {
          height: 48px;
        }

        .form-group .icon-svg {
          display: none;
        }

        .has-error {
          border: 1px solid $red;
        }

        .overlay__close {
          margin-bottom: 10px;
        }
      }

      .form-search {
        &__input {
          padding: 6px 12px 6px 12px;
          background-color: $white;
          min-height: 48px;
        }

        &-states-list {
          left: -4px;
        }
      }

      .message-error {
        margin-top: 2px;
      }

      .container {
        margin: auto;
      }
    }

    &__close {
      text-align: right;
      margin-bottom: 16px;
    }
  }
}

.header-container {
  background-color: $white;
  padding: 16px 0px;

  .form-search {

    height: auto;
  }  

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .navbar {
    color: $blue-dark;
    font-size: 12px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .container-fluid {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-nav {
      display: flex;
      flex-direction: row;
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 26px;
      text-decoration: none;
      color: inherit;

      span {
        display: block;
        width: 100%;
      }
    }
  }

  .nav-item {
    cursor: pointer;
    text-align: center;

    &.py-0 {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .form-search {
    margin: 0px;
    width: 465px;

    &__input,
    .btn-primary {
      height: 32px;
      min-height: 32px;
      &::placeholder {
        font-size: 16px;
      }
    }

    &__input {
      padding: 6px;
    }

    .overlay__close,
    .icon-svg {
      display: none;
    }

    form {
      border: 1px solid $blue-dark;
    }
  }

  .overlay__wrapper.submenu {
    @extend .overlay-fixed;

    background: $beige;
    color: $blue-dark;
    font-size: 20px;
    overflow-y: auto;

    ul {
      li {
        margin: 24px 0;
        position: relative;
      }

      a {
        padding: 0px;
      }

      img {
        max-height: 24px;
        max-width: 24px;
        margin-right: 30px;
        position: absolute;
        left: 0;
        top: 2.5px;
      }
    }
  }

  .y-24 > svg {
    height: 24px;
  }

  @media #{$oxs} {
    .overlay__wrapper.submenu {
      cursor: default;
      position: absolute;
      right: 0;
      width: 428px;
      max-width: 600px;
      height: auto;
      background-color: #fff;
      box-shadow: -15px 15px 40px -10px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: -15px 15px 40px -10px rgba(0, 0, 0, 0.6);
      li:first-child {
        padding-top: 20px;
      }
    }
  }

  @media #{$xs} {
    position: sticky;
    top: 0;
    z-index: 12;
    .navbar {
      margin-right: 18px;
      margin-left: 18px;
    }

    .overlay__wrapper {
      &.submenu {
        background-color: $white;
        cursor: default;

        ul a {
          font-weight: 600;
        }
      }
    }
  }
}

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:focus,
  &:active {
    left: auto;
    top: 2px;
    width: 200px;
    background-color: $white;
    height: auto;
    overflow: auto;
    margin: 0px 39%;
    padding: 10px 5px;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;

    @media #{$xs} {
      width: 94px;
      padding: 5px;
    }
  }
}

main[class*="home"] {
  .header {
    &-container {
      z-index: 15;
      position: sticky;
      width: 100%;
    }

    .overlay__wrapper.form-search {
      @include transform(translate(0%, 0%));
      z-index: 10;

      .overlay__close {
        display: none;
      }

      .form-search__input::placeholder {
        font-size: 16px;
      }
    }

    @media #{$oxs} {
      .overlay__wrapper.form-search .container {
        // max-width: 70%;
        width: 1200px;
      }
    }
  }
}

.message-error {
  font-size: 10px;
  font-weight: bold;
  color: $red;
  margin-top: 5px;
  width: 100%;
}
