@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

//Colors
$white: #fff;
$blue-dark: #05155b;
$blue: #5f7bc6;
$grey: #EAEBEF;
$yellow: #FDC429;
$light-gold: #FFFBF1;
$beige: #F8F6F3;
$red: #eb3c12;
$orange: #D96539;
$greyHeavy: #454545;
$secondary5: #657AC1;
$greyMedium: #707070;
$gray-light: #F7F8FE;
$blue-light: #607DC4;
$blue2: #00155F;

// Media Query Helpers
$lg: '(min-width: 1200px)';
$md: '(min-width: 992px) and (max-width: 1199px)';
$sm: '(min-width: 769px) and (max-width: 991px)';
$xs: '(max-width: 768px)';

$osm: '(min-width: 992px)';
$oxs: '(min-width: 769px)';

$umd: '(max-width: 991px)';

//////////////////////////////////////////////////////////
// Mixins
//////////////////////////////////////////////////////////

// transition
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// transform
@mixin transform($args...) {
  -webkit-transform: $args;
  -ms-transform: $args;
  transform: $args;
}

// transform origin
@mixin transform-origin($args...) {
  -webkit-transform-origin: $args;
  -ms-transform-origin: $args;
  transform-origin: $args;
}

// border radius
@mixin radius($args...) {
  -webkit-border-radius: $args;
  -ms-border-radius: $args;
  border-radius: $args;
}

// Box Shadow
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}