.unit-my-account-unit-payment {
  

  .div-additional-information {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;

    .span-code-number {
      margin-top: 6px;
    }
  }

  .div-button-unit-payment {
    button {
      font-size: 20px;
      width: 15rem;
    }
  }

  .div-button-unit-payment-bottom {
    button {
      font-size: 20px;
      width: 21rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .unit-my-account-unit-payment {
    .div-button-unit-payment {
      button {
        width: 80%;
      }
    }
  }
  .unit-my-account-unit-payment {
    .div-button-unit-payment-bottom {
      button {
        width: 100%;
      }
    }
  }
}
