.location-list-img {
  .img {
    width: 100% !important;
    height: 100% !important;
  }
}

// Stars
svg.star-svg {
  display: inline-block;
  margin-left: -0.185rem;
}

// Text

.div-text-location .direction-text {
  margin-bottom: -0.3rem;
}

.div-text-price div h4 {
  float: right;
  width: calc(100% - 7.6em);
  height: 2em;
  content: "";
  line-height: initial;
  text-align: end;
}

.button-div a {
  font-size: 20px;
  text-decoration: none !important;
}

@media only screen and (max-width: 480px) {
  .div-text-price {
    align-self: end;
  }

  .div-text-price {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
  }

  .div-text-price div h4 {
    float: right;
    width: calc(100% - 5.6em);
  }

  .button-div {
    width: 71%;
  }

  .button-div a {
    font-size: 16px;
  }
}

/* Extra small devices (phones, 375px) */
@media only screen and (max-width: 375px) {
  .button-div a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 375px) {
  .site-text {
    font-size: 19px;
  }
}

/* Extra small devices (phones, 320px) */
@media only screen and (max-width: 360px) {
  .div-text-price div h4 {
    float: right;
    width: calc(100% - 5.6em);
  }
}
