@import "../../helpers.scss";

.unit-card-modal {
  position: relative;
  z-index: 999;
  background-color: white;
}

.unit-card {
  &__wrapper {
    position: relative;
    border-bottom: 4px solid $secondary5;
    padding: 20px 30px 10px 30px;
  }

  &__img {
    display: flex;
    align-items: flex-start;
    place-content: center;
    min-height: 100px;
    width: 100%;

    img {
      width: 184px;
      height: 172px;
    }
  }

  &__description {
    line-height: 1.4rem;
  }

  &-area {
    min-width: 94px;
  }

  .promo-banner {
    gap: 20px;
  }

  .div-unit-card-area {
    margin-bottom: 10px;
  }

  &__price {
    width: max-content;

    &.retail {
      margin-right: 0.5em;
      padding-right: 0.5em;

      .price-value {
        position: relative;

        &:before {
          content: "";
          width: 110%;
          height: 100%;
          border-bottom: 1px solid $greyMedium;
          @include transform(rotate(-24deg));
          transform: rotate(-24deg);
          position: absolute;
          top: -0.5em;
        }
      }

      small {
        margin-left: 0.5em;
      }
    }

    &.online {
      margin-left: 0.5em;
      padding-left: 0.5em;

      &:before {
        content: "";
        position: absolute;
        height: calc(100% + 1em);
        border-left: 1px solid #c4c4c4;
        top: -30%;
        left: -0.5em;
      }
    }

    sup {
      top: -1.2em;
    }

    .price-value,
    .price-mo {
      line-height: 1em;
    }
  }

  &-promo {
    width: max-content;
    width: 180px;
    max-width: 100%;
    align-items: center;
    line-height: 24px;
    right: 0px;
    text-align: right;

    &.offer-promo {
      text-transform: uppercase;
    }
    &.left-promo {
      display: flex;
      justify-content: end;
    }
  }

  &-btn {
    min-height: 40px;
    line-height: 1em;
    width: 300px;
    max-width: 100%;

    &.join {
      border: 2px solid $secondary5;
    }
  }

  .icon-zoom {
    cursor: pointer;
    transform: rotate(180deg);
  }

  @media #{$umd} {
    .div-unit-card-area {
      margin-bottom: 5px;
    }

    min-height: 195px;

    &-btn {
      margin-top: 10px;
      width: 100%;
    }

    &-area {
      min-width: max-content;
    }

    &-promo {
      font-size: 12px;
      max-width: 48%;
      position: absolute;
      top: 0px;
    }

    &__price {
      &.online:before {
        height: calc(100% + 0.5em);
        top: -0.5em;
      }
    }

    &__description {
      width: 100%;

      .subtitle {
        width: 100%;
      }
    }
  }

  @media #{$xs} {
    .unit-card {
      &__wrapper {
        padding: 10px 20px 10px 20px;
      }

      &-area {
        font-size: 24px;
      }

      &-promo {
        line-height: 15px;
      }

      &__img {
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}
