.markdown-information-wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center !important;
    margin: 60px 0 0 0 !important;
    font-family: "source-serif-pro", "serif" !important;
  }

  h1 {
    font-size: 36px !important;
  }

  p {
    padding-top: 40px;
    font-size: 20px;
  }

  img {
    // text-align: center;
    margin: 40px auto 0 auto;
  }

  ol,
  ul {
    margin-top: 20px;
    li {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}

.points {
  .markdown-information-wrapper {
    p:first-child {
      padding-top: 0;
    }
  }
}

.text-mark-down {
  ul {
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    display: grid !important;
    column-gap: 30px !important;
    row-gap: 1px !important;
    grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    li {
      list-style-type: none !important;
      grid-column: span 12 / span 12 !important;
      @media (min-width: 768px) {
        grid-column: span 6 / span 6 !important;
      }
      p {
        margin: 0 !important;
        padding: 0 !important;
      }

      a {
        font-weight: inherit !important;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .text-mark-down {
    ul {
      display: block !important;
    }
  }
}
