.div-payment-unit-details {
  .div-cards {
    filter: grayscale(100%);
  }

  .span-div-input {
    left: -15px;
  }

  .radio {
    width: 20px;
    height: 20px;
}

  .custom-tooltip {
    max-width: 300px;
  }

  .select-filter-sort-by-payment {
    height: 45px;
    background-color: white;
    border: 1px solid #607dc4;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: transparent;
    background-image: url(../resources/dropdown.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 14px;
    border-radius: 2px;
    padding-left: 0.8rem;
  }

  .select-filter-sort-by-payment:focus {
    outline: none;
  }

  .div-input {
    margin-top: 1rem;
    width: 100%;
    border: 1px solid #607dc4;
    height: 45px;
    font-weight: bold;
    opacity: 0.75;
    font-size: 20px;
    padding-left: 1rem;
    padding-top: 0.4rem;
    background: white;
    color: #707070;
    input {
      background: white;
    }
    textarea:focus,
    input:focus {
      outline: none !important;
    }
  }

  .div-button-unit-payment-bottom {
    .button-disabled {
      background-color: #eaebef;
      color: #afafaf;
    }

    button {
      font-size: 20px;
      width: 21rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .unit-my-account-unit-payment {
    .div-button-unit-payment-bottom {
      button {
        width: 100%;
      }
    }
  }
}
