.div-state-list {
    padding: 55px 10px;
}

.title-state-list {
    margin-bottom: 43.63px;
}

.div-state-list-item {
    padding: 0 3rem 0 3rem;
    column-count: 4;
    column-gap: 3.7rem;
    column-fill: balance;
    column-width: auto;
    display: inline-block;
    height: auto; /*auto*/
    width: 100%;
}

#list-item {
    margin: 0 auto;
}

.state-list-item {
    font-family: "Open Sans";
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
    // margin-bottom: 30px;
    @media (max-width: 768px) {
        p {
            font-size: 16px;
        }
    }
}

.title-state-list {
    margin-bottom: 40px;
    margin-top: 60px;
}

/* Extra small devices (phones, 820px and down) */
@media only screen and (max-width: 820px) {
    .div-state-list-item {
        column-count: 2;
        column-gap: 20px;
    }

    #list-item {
        width: 100%;
    }

    .title-state-list {
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .div-state-list {
        padding: 29px 0 29px 0;
    }
    .title-state-list {
        font-size: 28px !important;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    .div-state-list-item {
        padding: 0 1.5em 0 1.5rem;
    }

    #list-item {
        width: 100%;
    }
}
/*# sourceMappingURL=index.css.map */

/*# sourceMappingURLi=index.css.map */
