.unit-my-account-unit-details {
  .div-section-blocks-unit-details {
    padding-top: 1.5rem;
  }

  .div-additional-information {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;

    .span-code-number {
      margin-top: 6px;
    }
  }

  .div-button-unit-details {
    button {
      font-size: 20px;
      width: 15rem;
    }
  }
}
