.div-body-congratulations {
  //Congratulations
  .div-paragraph {
    font-size: 40px;
    word-break: break-word;
  }

  .text-description {
    padding-right: 17%;
    padding-left: 17%;
  }

  .div-button-congratulations {
    display: flex;
    justify-content: center;

    a {
      width: 357px;
    }
  }

  @media only screen and (max-width: 768px) {
    .div-paragraph {
      font-size: 32px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .text-description {
      padding-right: 3%;
      padding-left: 3%;
    }
  }

  @media only screen and (max-width: 400px) {
    .div-paragraph {
      font-size: 32px;
    }
    a {
      width: 290px;
    }
  }
  //Congratulations
}
