.div-body-moving-supplies {
  .text-description {
    padding-right: 17%;
    padding-left: 17%;
  }

  .div-button-congratulations {
    display: flex;
    justify-content: center;

    a {
      width: 357px;
    }
  }

  @media only screen and (max-width: 768px) {
    .text-description {
      padding-right: 3%;
      padding-left: 3%;
    }
  }

  @media only screen and (max-width: 400px) {
    a {
      width: 290px;
    }
  }
}
