@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: open-sans, sans-serif;
    color: #454545;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* // ===================================
// ===================================
// Headings
// ===================================
// =================================== */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

/* // ===================================
// ===================================
// Table
// ===================================
// =================================== */
.row {
    margin: 10px;
}
table {
    width: 100%;
    max-width: 600px;
    margin: 0 0 25px;

    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    border: 1px solid #afafaf;
    tr.table-head {
        @media screen and (max-width: 30em) {
            display: none;
        }
    }
    .title {
        font-weight: 600;
    }
    th {
        background-color: #eaebef;
        border: 1px solid #707070;
    }
    tr {
        @media screen and (max-width: 30em) {
            display: block;
        }
    }
    tr:nth-child(odd) {
        background: #f7f8fe;
        @media screen and (max-width: 30em) {
            background: #eaebef;
        }
    }
    tr td {
        width: 50%;
        padding: 9px 10px;
        vertical-align: top;
        border: 1px solid #707070;
        @media screen and (max-width: 30em) {
            display: block;
            width: 100%;
        }
    }
    tr td:nth-child(2) {
        @media screen and (max-width: 30em) {
            width: 90%;
            margin-left: 10%;
        }
    }
}

/* // ===================================
// ===================================
// Lists
// ===================================
// =================================== */
ul {
    list-style-type: disc;
    padding-left: 20px;
}
ol {
    list-style-type: decimal;
    padding-left: 20px;
}

/* // ===================================
// ===================================
// MSC
// ===================================
// =================================== */
hr {
    margin: 20px 0;
}

blockquote {
    border-left: 5px solid #5f7bc6;
    padding: 1em;
    background-color: #eaebef;
    margin: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
