@import "../../helpers.scss";

:root {
  --circle-size: clamp(1.5rem, 5vw, 2rem);
  --spacing: clamp(0rem, 2vw, 0rem);
}

.div-reservation-body {
  .div-reservations-unit {
    background-color: red;
  }

  /**************************************************STEPPER************************/

  .c-stepper {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .c-stepper__item-first {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #5f7bc6;
      opacity: 1;
      margin: 0 auto 1rem;
    }

    & {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 4px;
        background-color: #5f7bc6;
        order: -1;
      }
    }
  }

  .c-stepper__item-middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: lightgrey;
      background-color: #5f7bc6;
      opacity: 1;
      margin: 0 auto 1rem;
    }

    & {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 4px;
        background-color: #5f7bc6;
        opacity: 0.3;
        order: -1;
      }
    }
  }

  .c-stepper__item-last {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;

    &:before {
      --size: 3rem;
      content: "";
      display: block;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: #5f7bc6;
      opacity: 0.3;
      margin: 0.25rem auto 1rem;
    }
  }

  .c-stepper__title {
    color: #05155b;
    font-size: 16px;
    inline-size: 150px;
    overflow-wrap: break-word;
    margin: auto;
  }

  /*** Non-demo CSS ***/

  .wrapper {
    max-width: 1000px;
    margin: 2rem auto 0;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 1rem;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media only screen and (max-width: 660px) {
    .c-stepper__title {
      font-size: 12px;
      inline-size: auto;
    }
  }

  /**************************************************STEPPER************************/

  /**************************************************RESERVATION DETAILS************************/

  /**************************************************CONGRATULATIONS************************/

  .div-paragraph {
    font-size: 40px;
  }

  .div-button-congratulations {
    display: flex;
    justify-content: center;

    a,
    button {
      width: 357px;
    }
  }

  .div-button-congratulations {
    button {
      cursor: pointer;
      padding: 0.75rem 0rem;
      font-size: 16px;
    }

    .button-disabled {
      background-color: #eaebef;
      color: #afafaf;
    }
  }

  @media only screen and (max-width: 768px) {
    .div-body-reservation-details-information {
      padding-left: 20px;
      padding-right: 20px;
    }

    .div-paragraph {
      font-size: 32px;
    }

    .div-button-congratulations {
      a,
      button {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;

      }
    }
  }

 
  /**************************************************CONGRATULATIONS************************/
  //Unit card
  .div-body-reservation-details {
    .unit-card-modal {
      position: relative;
      z-index: 999;
      background-color: white;
    }

    .unit-card {
      &__wrapper {
        position: relative;
        border-bottom: 4px solid $secondary5;
        width: 100%;
        max-width: 1206px;
      }

      &__img {
        display: flex;
        align-items: flex-start;
        place-content: center;
        min-height: 100px;
        width: 100%;
        img {
          width: 184px;
          height: 172px;
        }
      }

      &__description {
        line-height: 1.4rem;
      }

      &-area {
        min-width: 94px;
      }

      .promo-banner {
        gap: 20px;
      }

      .div-unit-card-area {
        margin-bottom: 10px;
      }

      &__price {
        width: max-content;

        &.retail {
          margin-right: 0.5em;
          padding-right: 0.5em;

          .price-value {
            position: relative;

            &:before {
              content: "";
              width: 110%;
              height: 100%;
              border-bottom: 1px solid $greyMedium;
              @include transform(rotate(-24deg));
              transform: rotate(-24deg);
              position: absolute;
              top: -0.5em;
            }
          }

          small {
            margin-left: 0.5em;
          }
        }

        &.online {
          margin-left: 0.5em;
          padding-left: 0.5em;

          &:before {
            content: "";
            position: absolute;
            height: calc(100% + 1em);
            border-left: 1px solid #c4c4c4;
            top: -30%;
            left: -0.5em;
          }
        }

        sup {
          top: -1.2em;
        }

        .price-value,
        .price-mo {
          line-height: 1em;
        }
      }

      &-promo {
        width: max-content;
        width: 180px;
        max-width: 100%;
        align-items: center;
        line-height: 1.2rem;
        right: 0px;
        text-align: right;

        &.offer-promo {
          text-transform: uppercase;
        }

        &.left-promo {
          display: flex;
          justify-content: end;
        }
      }

      &-btn {
        min-height: 40px;
        line-height: 1em;
        width: 300px;
        max-width: 100%;

        &.join {
          border: 2px solid $secondary5;
        }
      }

      .icon-zoom {
        cursor: pointer;
        transform: rotate(180deg);
      }

      @media #{$umd} {
        min-height: 195px;

        &-btn {
          margin-top: 10px;
          width: 100%;
        }

        &-area {
          min-width: max-content;
        }

        &-promo {
          font-size: 12px;
          max-width: 48%;
          position: absolute;
          top: 0px;
        }

        &__price {
          &.online:before {
            height: calc(100% + 0.5em);
            top: -0.5em;
          }
        }

        &__description {
          width: 100%;

          .subtitle {
            width: 100%;
          }
        }
      }

      @media #{$xs} {
        .unit-card {
          &__wrapper {
            padding: 10px 20px 10px 20px;
          }

          &-area {
            font-size: 24px;
          }

          &-promo {
            line-height: 15px;
          }

          &__img {
            img {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }

    .div-image-section {
      display: flex;
      justify-content: center;

      .div-image-section-body {
        max-width: 900px;
        width: 100%;
      }
    }

    .div-body-direction {
      margin-bottom: 3rem;
    }

    .span-text-day {
      display: block;
      width: 4.9rem;
    }
  }

  //Unit card
  //Image/Information
  //Image/Information

  /**************************************************RESERVATION DETAILS************************/
}
