@import "../../helpers.scss";

.Tabs-root {
  display: flex;
  flex-direction: row;
}
.Tabs-hidden-content {
  display: none;
}

.TabTitle-root {
  text-align: center;
  width: 100%;
  padding: 11px;
  background-color: $gray-light;
  color: $blue;
  font-family: 'Open Sans';
  font-weight: 700;
  text-decoration: none;
  &:hover {
    background-color: $blue;
    cursor: pointer;
    color: $white;
  }
}
.TabTitle-root-selected {
  background-color: $blue;
  color: $white;
}
.TabTitle-span {
  font-size: 20px;
}

/* Tablet devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .TabTitle-span {
    font-size: 18px;
  }
}